



.as{
    
    
    
    display: flex;
   

}


.im{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
}


.uu{
    display: flex;
    justify-content: flex-end;
    /* margin-left: 650px; */

}

.pp{
    margin-left: 10px;
}


.image{
    display: flex;
    justify-content: center;
}


.imaa{
    width: 900px;
    height: 300px;
    padding-top:70px ;

}

.serch{
justify-content: center;
display: flex;



}

.se{
    width: 600px;
    height: 40px;
    border: 2px solid black;
     padding-left: 20px;
     border-radius: 20px;
    
}

.rt{
    display: flex;
    justify-content: center;
    padding-top: 40px;

    
}

.p{
    
    background-color: rgb(203, 196, 196);
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
    
}




.mm{
    display: flex;
    border: 3px solid black;
    margin-top: 100px;
    background-color: grey;
    border-radius: 10px;
    justify-content: space-between;

}

.tm{
    display: flex;
    padding: 0px 15px 0px 15px;

}

.yr{
    margin: 10px;
}

.flex{
    position: fixed;
    background:white;
    display: flex;
    width: 95%;
    justify-content: space-between;
}